{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}

{% block body %}
    <div class="container"> 
        <h1>Login</h1>
        <form action="{{url}}/User/login" method="post">
            {{loginErr}}
            {{errData.email}}
            {{errData.password}}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="user[email]" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="user[password]" id="password">
            </div> 
            <input type="submit" value="Login" id="submit" class="btn btn-block btn-primary">    
        </form>
    </div>
{% endblock body %}