{% extends "base.html" %}

{% block title %}
    404 - Page Not Found
{% endblock title %}

{% block body %}
<section class="main-block d-flex align-items-center error-404">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    <div class="error-page">
    <h2>404</h2>
    <p>The page you are looking for doesn't exist</p>
    <a href="{{url}}" class="btn btn-outline-danger btn-confirmation">GO TO HOME PAGE</a>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock body %}