<!DOCTYPE html>
<html lang="en">
<head>
  {% set url = constant("App\\Config::URL") %}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Surjith S M" />
  <meta name="description" content="#" />
  <meta name="keywords" content="#" />

  <!-- <script src="../../cdn-cgi/apps/head/-mEFVS8y7qx5pVzWHQTCQu5gnVM.js"></script> -->
  <link rel="shortcut icon" href="#" />

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{url}}/home/css/bootstrap.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="{{url}}/home/css/themify-icons.css" />

  <link rel="stylesheet" href="{{url}}/home/css/font-awesome.min.css" />

  <link href="{{url}}/home/css/set1.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{url}}/home/css/swiper.min.css">
  <link rel="stylesheet" href="{{url}}/home/css/magnific-popup.css">
  <link rel="stylesheet" href="{{url}}/home/css/style.css" />
</head>

<body>
  {% set url = constant("App\\Config::URL") %}
  <div class="nav-menu sticky-top">
    <div class="bg transition">
      <div class="container-fluid fixed">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="{{url}}"><img src="{{url}}/home/images/EventOLogo.png" width="120" height="32"
                  alt="logo" /></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{{url}}/user/explore/index">Explore</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vendors
                      <span class="ti-angle-down"></span>
                    </a>
                    <div class="dropdown-menu">
                      {% for category in categoryData %}
                      <a class="dropdown-item" href="{{url}}/user/explore/{{category.id}}/view">{{category.name}}</a>                        
                      {% endfor %}
                    </div>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="contact.html">Help</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Photos
                      <span class="ti-angle-down"></span>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="blog.html">Blog Listing</a>
                      <a class="dropdown-item" href="blog-two.html">Blog Layout Two</a>
                      <a class="dropdown-item" href="blog-detail.html">Blog Detail</a>
                    </div>
                  </li>
                  {% if user.id != "" %}

                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Welcome <b>{{user.firstName}}!</b>                      
                      <span class="ti-angle-down"></span>
                    </a>
                    <div class="dropdown-menu">
                      <a href="{{url}}/user/order/History" class="nav-link">Orders</a>
                      <a href="{{url}}/user/logout" class="nav-link">Logout</a>
                    </div>
                  </li>

                  {% else %}
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{{url}}/user/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url}}/user/register">Register</a>
                  </li>
                  <li>
                    <a href="{{url}}/Vendor/Login" class="btn btn-outline-danger top-btn"><span class="ti-plus"></span>Login as Vendor</a>
                  </li>
                  {% endif %}


                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

      {% block body %} {% endblock %}
      <footer class="main-block gray">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 responsive-wrap">
              <div class="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>
                  1234, Home Town, Gujarat,
                  56231, INDIA
                </p>
              </div>
            </div>
            <div class="col-md-4 responsive-wrap">
              <div class="footer-logo_wrap">
                <img src="{{url}}/home/images/EventOLogo.png" width="200" height="40" alt="#" class="img-fluid" />
              </div>
            </div>
            <div class="col-md-4 responsive-wrap">
              <ul class="social-icons">
                <li>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <div class="copyright">
                <p>Copyright © 2020 EventO Team members. All rights reserved</p>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="{{url}}/javaScript/searchProduct.js"></script>
    <script src="{{url}}/javaScript/NavbarCategory.js"></script>
    <script src="{{url}}/javaScript/cart.js"></script>
    <script src="{{url}}/home/js/jquery-3.2.1.min.js"></script>
    <script src="{{url}}/home/js/popper.min.js"></script>
    <script src="{{url}}/home/js/bootstrap.min.js"></script>
    <script src="{{url}}/home/js/jquery.magnific-popup.js"></script>
    <script src="{{url}}/home/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>



  </body>
</html>
